
/* taille des ecriture des hover  */
.taille {
  font-size: 1em;
}

/* hover carte 1 */
#photo1 {
  opacity: 0.5;
}

#card1:hover #reward1{
  visibility:hidden;
}

#card1:hover #photo1 {
  opacity: 1;
}

/* hover carte 1 END */

/* hover carte 2 */
#photo2 {
  opacity: 0.5;
}

#card2:hover #reward2{
  visibility:hidden;
}

#card2:hover #photo2 {
  opacity: 1;
}

/* hover carte 2 END */

/* hover carte 3 */
#photo3 {
  opacity: 0.5;
}

#card3:hover #reward3{
  visibility:hidden;
}

#card3:hover #photo3 {
  opacity: 1;
}

/* hover carte 2 END */
